<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Department</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.dept.Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectServlet</display-name>
    <servlet-name>SelectServlet</servlet-name>
    <servlet-class>com.dept.Servlet.SelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectServlet</servlet-name>
    <url-pattern>/SelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.dept.Servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddServlet</display-name>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>com.dept.Servlet.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/AddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ZhuCeServlet</display-name>
    <servlet-name>ZhuCeServlet</servlet-name>
    <servlet-class>com.dept.Servlet.ZhuCeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZhuCeServlet</servlet-name>
    <url-pattern>/ZhuCeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>YhSelectServlet</display-name>
    <servlet-name>YhSelectServlet</servlet-name>
    <servlet-class>com.dept.Servlet.YhSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YhSelectServlet</servlet-name>
    <url-pattern>/YhSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>d_ySelectServlet</display-name>
    <servlet-name>d_ySelectServlet</servlet-name>
    <servlet-class>com.dept.Servlet.d_ySelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>d_ySelectServlet</servlet-name>
    <url-pattern>/d_ySelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WorlersServlet</display-name>
    <servlet-name>WorlersServlet</servlet-name>
    <servlet-class>com.dept.Servlet.WorlersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorlersServlet</servlet-name>
    <url-pattern>/WorlersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddWorkersServlet</display-name>
    <servlet-name>AddWorkersServlet</servlet-name>
    <servlet-class>com.dept.Servlet.AddWorkersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddWorkersServlet</servlet-name>
    <url-pattern>/AddWorkersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteWorkersServlet</display-name>
    <servlet-name>DeleteWorkersServlet</servlet-name>
    <servlet-class>com.dept.Servlet.DeleteWorkersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteWorkersServlet</servlet-name>
    <url-pattern>/DeleteWorkersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectWorkers</display-name>
    <servlet-name>SelectWorkers</servlet-name>
    <servlet-class>com.dept.Servlet.Mohu.SelectWorkers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectWorkers</servlet-name>
    <url-pattern>/SelectWorkers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modifySetvlet</display-name>
    <servlet-name>modifySetvlet</servlet-name>
    <servlet-class>com.dept.Servlet.modifySetvlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifySetvlet</servlet-name>
    <url-pattern>/modifySetvlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modifyWorkersServlet</display-name>
    <servlet-name>modifyWorkersServlet</servlet-name>
    <servlet-class>com.dept.Servlet.modifyWorkersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyWorkersServlet</servlet-name>
    <url-pattern>/modifyWorkersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OndutyServlet</display-name>
    <servlet-name>OndutyServlet</servlet-name>
    <servlet-class>com.dept.OnDutyServlet.OndutyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OndutyServlet</servlet-name>
    <url-pattern>/OndutyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OndutySelectServlet</display-name>
    <servlet-name>OndutySelectServlet</servlet-name>
    <servlet-class>com.dept.OnDutyServlet.OndutySelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OndutySelectServlet</servlet-name>
    <url-pattern>/OndutySelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectDept</display-name>
    <servlet-name>SelectDept</servlet-name>
    <servlet-class>com.dept.Servlet.Mohu.SelectDept</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectDept</servlet-name>
    <url-pattern>/SelectDept</url-pattern>
  </servlet-mapping>
</web-app>